.h-100px{
    height: 100px;
}
.w-100px{
    width: 100px;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}


.verde-on {
    background-color:green;
}
.rojo-on {
    background-color: red;
}
.amarillo-on {
    background-color: yellow;
}
.azul-on{
    background-color: blue;
}

.oculto{
    visibility: hidden;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(8, 40px); /* 8 columnas */
    grid-template-rows: repeat(8, 40px); /* 8 filas */
    gap: 1px; /* Espacio entre las celdas */
}

.celda {
    width: 40px;
    height: 40px;
    border: 2px outset #777777; 
    background-color: #cfcfcf; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.checked {
    background-color: #ebebeb;
}
.minas {
    color: white;
    background-color: rgb(252, 18, 18);
}
