.h-100px{
    height: 100px;
}
.w-100px{
    width: 100px;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}


.verde-on {
    background-color:green;
}
.rojo-on {
    background-color: red;
}
.amarillo-on {
    background-color: yellow;
}
.azul-on{
    background-color: blue;
}

.oculto{
    visibility: hidden;
}